.elements__element-favour {
  grid-area: icofvr;
  margin: 5px auto auto 0;
  padding: 0;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart_no.svg);
  background-size: cover;

  opacity: 1;
  cursor: pointer;
}

.elements__element-favour:hover {
  transition: opacity 0.5s linear;
  opacity: 0.5;
}

.elements__element-favour:active {
  background-image: url(../../../images/heart_yes.svg);
  opacity: 1;
}
