.elements__element-caption {
  grid-area: cap;
  width: calc(100% - 36px);
  padding: 0;
  margin: 25px auto 31px 21px;

  display: grid;
  grid-template-columns: 219px 27px;
  grid-template-rows: 23px;
  grid-template-areas:
    "txt icofvr";
  gap: 0;
}
