.elements__element-trash {
  position: absolute;
  border: none;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 19px;
  right: 20px;
  top: 20px;
  background-color: transparent;
  background-image: url(../../../images/trash.svg);
  background-size: cover;

  opacity: 1;
  cursor: pointer;
}

.elements__element-trash:hover {
  transition: opacity 0.5s linear;
  opacity: .6;
}
