.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px auto 51px;
  padding: 0;
  width: 100%;
  /* align-items: center; */
}

@media (max-width: 580px) {
  .profile {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: calc(100% - 38px);
    margin: 42px 19px 36px;
  }
}
