.profile {
  display: grid;
  width: 100%;
  margin: 40px auto 51px;
  padding: 0;

  grid-template-columns: 120px repeat(2, auto);
  grid-template-areas:
    'avatar info addbtm';
  column-gap: 30px;
  row-gap: 0;
}

@media (max-width: 879px) {
  .profile {
    margin: 18px auto 51px;
    grid-template-columns: 120px auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      'avatar info'
      'avatar addbtm';
  }
}

@media (max-width: 580px) {
  .profile {
    width: calc(100% - 38px);
    margin: 42px auto 36px;

    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      'avatar'
      'info'
      'addbtm';
  }
}
