.content {
  padding: 0;
  flex: 1;
  margin: 0 auto;
  max-width: 880px;
}

@media (max-width: 917px) {
  .content {
    max-width: 581px;
  }
}

@media (max-width: 618px) {
  .content {
    max-width: 320px;
  }
}
