.content {
  display: flex;
  padding: 0;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  max-width: 880px;
}

@media (max-width: 879px) {
  .content {
    max-width: 581px;
  }
}

@media (max-width: 580px) {
  .content {
    max-width: 320px;
  }
}
