.popup__conteiner_img {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 75vw;
  max-height: calc(75vh + 25px);
  border-radius: 0;
  background-color: transparent;
  color: var(--color-fill);
  object-fit: cover;
  object-position: center;
}
