.profile__avatar {
  grid-area: avatar;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 917px) {
  .profile__avatar {
    align-self: center;
  }
}

@media (max-width: 618px) {
  .profile__avatar {
    justify-self: center;
  }
}
