.elements__element {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: var(--r-element);
  background-color: var(--color-fill);

  display: grid;
  grid-template-columns: 282px ;
  grid-template-rows: 282px 79px;
  grid-template-areas:
    "img"
    "cap";
  gap: 0;

}
