.popup__conteiner {
  position: relative;
  display: block;
  box-sizing: border-box;

  margin: auto;
  padding: 34px 36px 37px;
  max-width: 430px;
  background-color: var(--color-fill);
  border-radius: var(--r-element);
  color: var(--color-ground);
}

@media (max-width: 618px) {
  .popup__conteiner {
    max-width: 282px;
    padding: 25px 22px;
  }
}
